@page "/"
@using MyApp.Components.Forms
@using MyApp.Components.UI
@using MyApp.Models
@implements IDisposable
@inject StateContainer StateContainer

<!--
    The Iframe was adapted from stackoverflow.com
    Author: gilly3 (https://stackoverflow.com/users/361684/gilly3)
    Link: https://stackoverflow.com/questions/22024115/is-it-possible-to-view-any-file-type-within-a-webpage
    <iframe src="files/" class="h-auto w-[300px]" />
-->


@if(StateContainer.Issues.Any()){
    <section class="grid w-full gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:gap-8 xl:grid-cols-4">

    @foreach (var issue in StateContainer.Issues)
    {
        <IssueReportCard Issue="@issue" Class="h-full max-h-[250px] w-full overflow-auto" />
    }

    <!-- <button @onclick=RefreshIssues>Refresh</button>-->

    </section>
}
else
{
    <div class="grid w-full place-content-center">You have not reported any issues.</div>
}





@code {
    // private List<Issue> Issues { get; set; }


    protected override void OnInitialized()
    {
        // add to the NavigationManager event
        // Issues = Repository.GetIssues();

        StateContainer.OnChange += StateHasChanged;

        List<string> idk = new();
       
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }

    private void RefreshIssues()
    {
        StateContainer.Issues = Repository.GetIssues();
        StateHasChanged();
    }

}