@page "/"
@using MyApp.Components.Forms
@using MyApp.Components.UI
@using MyApp.Models
@implements IDisposable
@inject StateContainer StateContainer

<!--
    The Iframe was adapted from stackoverflow.com
    Author: gilly3 (https://stackoverflow.com/users/361684/gilly3)
    Link: https://stackoverflow.com/questions/22024115/is-it-possible-to-view-any-file-type-within-a-webpage
    <iframe src="files/" class="h-auto w-[300px]" />
-->

<section class="grid w-full gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:gap-8 xl:grid-cols-4">

    @foreach (var issue in StateContainer.Issues)
    {
        <IssueReportCard Issue="@issue" />
    }

    <div class="h-56 rounded-lg bg-gray-200"></div>

    <div class="h-56 rounded-lg bg-gray-200"></div>
    <div class="h-56 rounded-lg bg-gray-200"></div>
    <div class="h-56 rounded-lg bg-gray-200"></div>
    <div class="h-56 rounded-lg bg-gray-200"></div>
    <div class="h-56 rounded-lg bg-gray-200"></div>
    <div class="h-56 rounded-lg bg-gray-200"></div>
    <div class="h-56 rounded-lg bg-gray-200"></div>
    <div class="h-56 rounded-lg bg-gray-200"></div>
    <div class="h-56 rounded-lg bg-gray-200"></div>
    <div class="h-56 rounded-lg bg-gray-200"></div>
    <div class="h-56 rounded-lg bg-gray-200"></div>
    <div class="h-56 rounded-lg bg-gray-200"></div>
    <div class="h-56 rounded-lg bg-gray-200"></div>
    <div class="h-56 rounded-lg bg-gray-200"></div>
    <div class="h-56 rounded-lg bg-gray-200"></div>
    <div class="h-56 rounded-lg bg-gray-200"></div>
    <div class="h-56 rounded-lg bg-gray-200"></div>

    <!-- <button @onclick=RefreshIssues>Refresh</button>-->

</section>




@code {
    // private List<Issue> Issues { get; set; }


    protected override void OnInitialized()
    {
        // add to the NavigationManager event
        // Issues = Repository.GetIssues();

        StateContainer.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }

    private void RefreshIssues()
    {
        StateContainer.Issues = Repository.GetIssues();
        StateHasChanged();
    }

}