@using TailwindMerge;
@inject TwMerge Tw;

<div class=@Tw.Merge("grid-rows-2 grid-cols-4 grid items-center gap-y-1", Class)>

    <div class="-z-20 row-start-1 col-start-1 col-span-full h-1 rounded-full bg-gray-200" />
    <div class="@Tw.Merge("-z-10 row-start-1 col-span-auto h-1 rounded-full bg-blue-500",
        (Progress >= 1) ? "col-span-1 col-start-1" : "",
        (Progress >= 2) ? "col-span-2" : "",
        (Progress >= 3) ? "col-span-3" : "",
        (Progress >= 4) ? "col-span-full" : ""
        )" />


    <span class=@Tw.Merge("row-start-1 col-start-1 place-self-center justify-self-end rounded-full text-white", (Progress >= 1) ? "bg-blue-600" : "bg-gray-600")>
        <svg class="size-5"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 20 20"
             fill="currentColor">
            <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd" />
        </svg>
    </span>

    <span class=@Tw.Merge("row-start-1 col-start-2 place-self-center justify-self-end rounded-full text-white", (Progress >= 2) ? "bg-blue-600" : "bg-gray-600")>
        <svg class="size-5"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 20 20"
             fill="currentColor">
            <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd" />
        </svg>
    </span>

    <span class=@Tw.Merge("row-start-1 col-start-3 place-self-center justify-self-end rounded-full text-white", (Progress >= 3) ? "bg-blue-600" : "bg-gray-600")>
        <svg class="size-5"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 20 20"
             fill="currentColor">
            <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd" />
        </svg>
    </span>

    <span class=@Tw.Merge("row-start-1 col-start-4 place-self-center justify-self-end rounded-full text-white", (Progress >= 4) ? "bg-blue-600" : "bg-gray-600")>
        <svg class="size-5"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 20 20"
             fill="currentColor">
            <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd" />
        </svg>
    </span>

    <div class="row-start-2 col-start-1 place-self-center justify-self-start text-black">Progress:</div>
    <div class="row-start-2 col-start-4 place-self-center justify-self-end text-black">@($"{(Progress * 100)/4}%")</div>
    <!--

    <div class=@Tw.Merge("place-self-center justify-self-end left-1/2 -translate-x-1/2", (Progress >= 1) ? "text-blue-600" : "text-gray-600")>25%</div>
    <div class=@Tw.Merge("place-self-center justify-self-end", (Progress >= 2) ? "text-blue-600" : "text-gray-600")>50%</div>
    <div class=@Tw.Merge("place-self-center justify-self-end", (Progress >= 3) ? "text-blue-600" : "text-gray-600")>75%</div>
    <div class=@Tw.Merge("place-self-center justify-self-end", (Progress >= 4) ? "text-blue-600" : "text-gray-600")>100%</div>
    -->
</div>

@code {
    [Parameter]
    public int Progress { get; set; }

    [Parameter]
    public string Class { get; set; }
}
