@inherits LayoutComponentBase

<div class="page h-full max-h-screen focus:outline-none focus:border-gray-200 focus:ring-0 sm:block">
    <!--
        <div class="sidebar">
            <NavMenu />
        </div>

    <div class="hidden sm:block">
        <SideMenu />
    </div>

    <div class="flex flex-col items-center justify-center gap-2 bg-white pt-5 sm:hidden">
        <DropdownMenu />

        <div class="mb-1 h-0.5 w-3/5 rounded-full bg-gray-200"/>
    </div>
    -->

    <NavMenu />
    
    <div class="grow sm:h-full sm:max-h-screen">
        @Body
    </div>
    
</div>

<!--grow overflow-auto p-5 sm:h-full sm:max-h-screen-->
